<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
          <img src="<%= footer.imgl %>"  alt="" />
      </div>
      <div class="col-xs-4">
          <%= footer.txt %>
      </div>
      <div class="col-xs-4">
        <img src="<%= footer.imgr %>"  alt="" /><br />扫一扫
      </div>
    </div>
  </div>
</div>