.txtleft {
    text-align: left  !important;
}
.txtcenter {
    text-align: center !important;
}
.txtright {
    text-align: right !important;
}
form {
    .error{
        background: #ffe6e4;
        padding: 2px 0px;
        color: #ff2121;
        min-width: 150px;
        border: 1px solid #ffc7c7;
        border-radius: 4px;
        -webkit-animation: fadeIn;
        -o-animation: fadeIn;
        animation: fadeIn 1s;
        font-weight: normal;
        position:relative;
        top:5px;
        padding: 0 5px;
        &:after{
            content: '';
            display: block;
            width: 10px;
            height: 7px;
            position: absolute;
            top: -6px;
            left: 15px;
            background: url(/view/admin/image/up.png) no-repeat;

        }
    }
}

@keyframes fadeIn
{
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fadeIn /* Safari and Chrome */
{
    from {opacity: 0}
    to {opacity: 1}
}

.titleToggle {
    .btn{
        position:relative;
        top : -5px;
    }
}

.modal_align{
    display: table;
    width:100%;
    height: 100%;
    margin: 0px auto;
}

.modal-body{
    .form_center{
        max-height: 400px;
        width:100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.wysiwyg-popup{
    white-space: normal;
}

.wysiwyg-toolbar{
    white-space: normal ;
}

.wysiwyg-editor{
    min-height: 20em;
}

.article{
    .input-group-addon{
        background:#fff;
    }
    select option{
        color:#555 !important;
    }
}
// .article-btn-group{
//     text-align: right;
//     margin-top: 40px;
//     .btn{
//         margin: 0 20px;
//     }
// }
// .modal-sm{
//     .modal-content{
//         width:300px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }

// .modal-dialog{
//     .modal-content{
//         width:666px;
//         margin-left: auto;
//         margin-right: auto;
//     }
// }
.coltree{
    td{ 
        font-size: 12px;
        a{
            float: right;
            margin-left: 10px;
            position:relative;
            top:4px;
        }
        .indenter{
            position:relative;
            top:1px;
        }
        span{
            padding-left: 0px;
            color:#9ea7b3;
        }
    }
}

.admin-banner{
    margin-top: 20px;
}
#logo a{
    color:#fff;
}
.alert{
    padding-left: 60px;
}